    .search {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
    background-color: #F3F3F3;
    font-size: 1.2rem;
    position: relative;
    align-items: center;

    &__icon {
        margin: 1rem;
    }

    &__text {
        font-weight: 600;
    }
}

.intro {
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;

    &__title {
        margin: 0rem;
    }

    &__subtitle {
        font-weight: 400;
        margin: 1rem 0rem;
        padding-bottom: 1rem;
    }

    &__button {
        @include button;
    }
}

.working {
    padding: 2rem 1rem;

    &__title {
        margin-top: 0rem;
    }

    &__stages {
        margin: 0rem;
        padding: 0rem;
        list-style: none;
        counter-reset: counterStep;

        @media screen and (min-width:1024px) {
            display: flex;
        }   
    }

    &__stage {
        padding: 1rem;
        margin: 1rem 0rem 1rem 1rem;
        box-shadow: 0.25rem 0.25rem 10px #9c9c9c;
        border-radius: 1.25rem;
        background-color: #f3f3f3;
        display: flex;
        position: relative;
        align-items: center;

        @media screen and (min-width:1024px) {
            flex: 1;
            margin: 0rem 0rem 0rem 2rem;
        }

        &::before {
            counter-increment: counterStep 1;
            content: counter(counterStep) " ";
            background: $color-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            position: absolute;
            left: -1rem;
        }
    }

    &__icon {
        margin-right: 1rem;
        color: #7f7f7f;
    }

    &__text {
        font-size: 0.9rem;
    }
}

.restaurants {
    background-color: #f3f3f3;
    padding: 1rem 1rem;

    &__title {
        margin-top: 0rem;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;

         @media screen and (min-width:1024px) {
        grid-template-columns: repeat(2, 1fr);
        }
    }
}

.restaurant {
        background-color: #ffffff;
        border-radius: 1rem;
        position: relative;
        display: block;

        &__img {
            height: 12rem;
            width: 100%;
            border: transparent solid 0px;
            border-radius: 1rem 1rem 0rem 0rem;
            object-fit: cover;
        }

        &__new {
            background-color: $color-tertiary;
            color: darken($color-tertiary , 50%);
            padding: 0.5rem;
            border-radius: 0.2rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        &__description {
            padding: 0rem 0.5rem 1rem 0.5rem;
            position: relative;
            display: flex;
            align-items: center;
        }

        &__content {
            flex: 1;
        }

        &__title {
            margin: 0rem 0rem 0.25rem 0rem;
        }

        &__subtitle {
            margin: 0rem;
        }

        &__button {
            height: 2rem;
            width: 2rem;
            background-color: transparent;
            border: transparent 0px solid;
            padding: 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__like {
            background-color: #ffffff;
        }
    }

